
// https://flatuicolors.com/palette/defo

$primary : #00538a;
$primary-dark : #192a56;

$secondary :  #5c0f8b;
$secondary-dark : #c0392b;
 
$alternative : #17a0d5;
$alternative-dark: #196db5;

$orange:#ee7c2c;
$orange-dark:#d35400;

$gray:#efefef;
$gray-dark: #6e6e6e;

$yellow:#ffb142;
$yellow-dark:#cc8e35;

$blue:#34ace0;
$blue-dark:#227093;

$green:#008E45;
$green-dark:#026937;

$beige:#ffda79;
$beige-dark:#ccae62;

$white:#ecf0f1;
$white-dark:#bdc3c7;