$primary : #40407a;
$primary-dark : #2c2c54;

$secondary :  #ff5252;
$secondary-dark : #b33939;
 
$alternative : #706fd3;
$alternative-dark: #474787;

$orange:#ff793f;
$orange-dark:#cd6133;

$gray:#d1ccc0;
$gray-dark: #84817a;

$yellow:#ffb142;
$yellow-dark:#cc8e35;

$blue:#34ace0;
$blue-dark:#227093;

$green:#33d9b2;
$green-dark:#218c74;

$beige:#ffda79;
$beige-dark:#ccae62;

$white:#f7f1e3;
$white-dark:#aaa69d;