html,
input,
select,
body {
    font-family: 'DIN';
    margin: 0;
    --main-spacing: 15px 5px 10px 5px;
    --header-footer-spacing: 10px 5px;
    --header-height: 40px;
}

.app {
    display: grid;
    grid-template-columns: 0 1fr 0;
    grid-template-rows: auto 8em 1fr auto;

    @media (min-width: 600px) {
        & {
            // grid-template-columns: 20px 1fr 20px;
            grid-template-columns: 1fr minmax(1100px, 1fr) 1fr;
        }
    }
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: #FFF;
    padding: 55px 20px;
}

main {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    min-height: 50vh;
    padding: 0px 20px 0px 20px;
    box-shadow:  0px 0px 7px rgba(0, 0, 0, 0.25);
    background-color: #FFF;
}

footer {
    grid-column: 2/3;
    grid-row: -1;
    padding: 30px;
}

input {
    border: 1px solid gray;
    padding: 3px;
}